In [1]:
import urllib.request

In [2]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

Open the url

In [3]:
page = urllib.request.urlopen(url)

Installing lxml is needed to scrape webpage

In [4]:
!pip install lxml
!pip install BeautifulSoup4

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/ec/be/5ab8abdd8663c0386ec2dd595a5bc0e23330a0549b8a91e32f38c20845b6/lxml-4.4.1-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 31.0MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.1
Collecting BeautifulSoup4
  Downloading https://files.pythonhosted.org/packages/3b/c8/a55eb6ea11cd7e5ac4bacdf92bac4693b90d3ba79268be16527555e186f0/beautifulsoup4-4.8.1-py3-none-any.whl (101kB)
     |████████████████████████████████| 102kB 17.0MB/s ta 0:00:01
Collecting soupsieve>=1.2 (from BeautifulSoup4)
  Downloading https://files.pythonhosted.org/packages/81/94/03c0f04471fc245d08d0a99f7946ac228ca98da4fa75796c507f61e688c2/soupsieve-1.9.5-py2.py3-none-any.whl
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.8.1 soupsieve-1.9.5

In [5]:
from bs4 import BeautifulSoup

In [6]:
soup = BeautifulSoup(page,'lxml')

In [7]:
soup.title.string

'List of postal codes of Canada: M - Wikipedia'

In [8]:
table=soup.find_all("tr")

In [9]:
A=[]
B=[]
C=[]

for row in table:
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

Assign the values in webpage html to columns and then make a dataframe out of it

In [10]:
import pandas as pd 
df=pd.DataFrame(A,columns=['Postcode'])
df['Borough']=B
df['Neighbourhood']=C

df

    Postcode           Borough            Neighbourhood
0        M1A      Not assigned           Not assigned\n
1        M2A      Not assigned           Not assigned\n
2        M3A        North York                Parkwoods
3        M4A        North York         Victoria Village
4        M5A  Downtown Toronto             Harbourfront
..       ...               ...                      ...
283      M8Z         Etobicoke                Mimico NW
284      M8Z         Etobicoke       The Queensway West
285      M8Z         Etobicoke  Royal York South West\n
286      M8Z         Etobicoke         South of Bloor\n
287      M9Z      Not assigned           Not assigned\n

[288 rows x 3 columns]

Clean up the data

In [11]:
df['Neighbourhood'] = df['Neighbourhood'].replace('\n','', regex=True)

In [12]:
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

In [13]:
df=df[df.Borough != 'Not assigned']

In [14]:
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

In [15]:
df = df.sort_values(by=['Postcode','Borough'])

In [16]:
df

    Postcode      Borough   Neighbourhood
11       M1B  Scarborough           Rouge
12       M1B  Scarborough         Malvern
27       M1C  Scarborough  Highland Creek
28       M1C  Scarborough      Rouge Hill
29       M1C  Scarborough      Port Union
..       ...          ...             ...
232      M9V    Etobicoke     Mount Olive
233      M9V    Etobicoke     Silverstone
234      M9V    Etobicoke   South Steeles
235      M9V    Etobicoke     Thistletown
245      M9W    Etobicoke       Northwest

[211 rows x 3 columns]

In [17]:
df1= df.groupby(by=['Postcode','Borough']).agg(lambda x: ','.join(x))

df1.reset_index(level=['Postcode','Borough'], inplace=True)
df1

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [18]:
df1.shape

(103, 3)